<launch>

    <!-- Lade das YAML-File mit Parametern -->
    <rosparam file="$(find amr_control)/param/optimal_control_params.yaml" />

    <node name="optimal_control" pkg="amr_control" type="optimal_control.py" output="screen" />

    <node name="obstacle_detection" pkg="amr_control" type="obstacle_detection.py" />

</launch>
